APP_NAME=Lumi
INVITE_BASE_URL=https://lumi.family/invite
REVENUECAT_APPLE_KEY=
REVENUECAT_GOOGLE_KEY=
OAUTH_REDIRECT_URL=appwrite-callback-69ff68eb0033441e4041
FIREBASE_API_KEY=
FIREBASE_APP_ID=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_IOS_BUNDLE_ID=
APPWRITE_FCM_PROVIDER_ID=
